<h1> Links </h1>

<ul id="links">
  <% @links.each do |link| %>
    <li>
      Title: <%= link.title %>
<<<<<<< HEAD
      URL:   <%= link.url %>
=======
      URL:   <%= link.url   %>
>>>>>>> c61b1982320d6bb54bcf2a8111a4b645ed7fab5d
    </li>
  <% end %>
</ul>
