<% if @email %>
  <%= @code %>
  Check your emails
<% elsif @token %>
  <form method='post'>
   Enter a new password: <input type='password' name='password'>
   Confirm new password: <input type='password' name='password_confirmation'>
   <input type='hidden' name='token' value=<%= @token %>>
   <input type='submit' value='Reset password'>
  </form>
<% else %>
   <form method='post'>
   Email: <input type='text' name='email'>
   <input type='submit' value='Reset password'>
   </form>
<% end %>


